                                // Primary Colors
                                $bandsite-black: #323232;
                                $silver: #afafaf;
                                $white: #ffffff;
                                //Secondary Colors
                                $bandsite-darkblack: #000000;
                                $mercury: #e1e1e1;
                                $alabaster: hsl(0, 0%, 98%);
                                //Screen Parameters
                                //*Tablet
                                $tablet-lower: 768px;
                                $tablet-higher: 1279px;
                                //*Desktop
                                $desktop-lower: 1280px;
                                //General Styles
                                @font-face {
                                    font-family: Avenir Next;
                                    src: url(../../../Documents/avenir-next.zip);
                                }
                                
                                html,
                                body {
                                    margin: 0;
                                    padding: 0;
                                    font-family: Avenir Next;
                                    color: $bandsite-black;
                                }
                                
                                footer,
                                .commentSection {
                                    margin: 0;
                                    padding: 0;
                                }
                                
                                h1,
                                h2,
                                h3 {
                                    padding: 16px 0;
                                    margin: 0;
                                }
                                
                                p {
                                    font-size: 13px;
                                    line-height: 18px;
                                }
                                
                                .alt__footer {
                                    display: none;
                                }
                                
                                //HeaderStyles
                                hr {
                                    border: 0;
                                    clear: both;
                                    display: block;
                                    width: 96%;
                                    background-color: $silver;
                                    height: 1px;
                                }
                                
                                .header {
                                    background-color: $bandsite-black;
                                    color: $white;
                                    margin: 0;
                                    height: 70px;
                                    a {
                                        color: $white;
                                        text-decoration: none;
                                    }
                                }
                                
                                .header__title__box {
                                    margin: 0;
                                    text-align: center;
                                    padding: 0;
                                }
                                
                                .header__title {
                                    font-weight: 200;
                                    font-size: 24px;
                                    margin: 0;
                                    padding-bottom: 0;
                                }
                                
                                .header__nav {
                                    display: flex;
                                    flex-flow: row wrap;
                                    justify-content: space-around;
                                    text-align: center;
                                    &__txt {
                                        font-weight: 300;
                                        margin-top: 0;
                                        padding-top: 0;
                                        padding-bottom: 0;
                                        font-size: 13px;
                                        width: 50vw;
                                    }
                                }
                                
                                #submitButton:hover {
                                    background-color: $bandsite-darkblack;
                                }
                                
                                #active {
                                    border-style: solid;
                                    border-color: $white;
                                    border-top: 2px;
                                    border-right: 0;
                                    border-left: 0;
                                    // text-decoration: underline;
                                    // text-decoration-color: $white;
                                    // text-decoration-thickness: 2px;
                                }
                                
                                #active:hover {
                                    color: $alabaster;
                                }
                                
                                #inactive {
                                    color: $silver;
                                }
                                
                                //Hero Styles
                                .hero {
                                    background-image: url(../assets/images/hero-bio.jpg);
                                    filter: $bandsite-black;
                                    background-size: cover;
                                    background-position: center;
                                    color: $white;
                                    height: 200px;
                                    &__text {
                                        position: relative;
                                        padding: 75px 0 0 16px;
                                        margin: 0;
                                        font-size: 24px;
                                        font-weight: 400;
                                        z-index: 1;
                                    }
                                    &__overlay {
                                        background-color: $bandsite-black;
                                        width: 100%;
                                        height: 100%;
                                        opacity: 50%;
                                        position: relative;
                                        bottom: 54.5%;
                                    }
                                }
                                
                                //Body Styles
                                .text__sub {
                                    font-size: 24px;
                                    padding: 16px 0;
                                    font-weight: 600;
                                }
                                
                                .quote {
                                    font-size: 14px;
                                    line-height: 22px;
                                    font-weight: 600;
                                    margin: 16px 0 0 0;
                                    &--author {
                                        margin-top: 0;
                                        padding: 0;
                                        font-weight: 13px;
                                        font-size: 14px;
                                        line-height: 22px;
                                    }
                                }
                                
                                .main__text__sub {
                                    font-size: 14px;
                                    font-weight: 400;
                                    padding: 0;
                                }
                                
                                .body__section {
                                    padding: 0 16px;
                                    display: flex;
                                    flex-flow: row wrap;
                                    &__title {
                                        display: block;
                                    }
                                    &__img {
                                        height: 175px;
                                        width: 100%;
                                    }
                                }
                                
                                //Images
                                .photo__gallery {
                                    padding: 0 16px;
                                    background-color: $alabaster;
                                    &__picture__container {
                                        display: flex;
                                        flex-flow: column wrap;
                                        justify-content: center;
                                        align-items: center;
                                        // margin: 16px;
                                    }
                                    &__picture {
                                        height: 175px;
                                        width: 100%;
                                        margin: 8px 0;
                                    }
                                }
                                
                                //Footer Styles
                                .footer__section {
                                    background-color: $bandsite-black;
                                    color: $white;
                                    margin-top: 8px;
                                    &__title {
                                        font-size: 24px;
                                        font-weight: 300;
                                        padding: 16px;
                                    }
                                    &__icon__container {
                                        display: flex;
                                        flex-flow: row wrap;
                                        justify-content: space-evenly;
                                        width: 120px;
                                        padding: 16px;
                                    }
                                    &__text__container {
                                        padding: 0 16px;
                                    }
                                    &__text__container p {
                                        margin: 0;
                                        padding: 16px 0;
                                        font-size: 13px;
                                    }
                                    &__icon__container {
                                        padding: 0 16px;
                                    }
                                    &__icon {
                                        height: 25px;
                                        width: 25px;
                                    }
                                    &__logo {
                                        font-weight: 200;
                                        font-size: 24px;
                                        padding: 64px 0 0 0;
                                    }
                                }
                                
                                .footer__section__end__container {
                                    padding-left: 16px;
                                    p {
                                        margin: 0;
                                    }
                                }
                                
                                //Comment Section 
                                .commentSection {
                                    margin: 16px;
                                    h2 {
                                        margin-left: 0;
                                    }
                                }
                                
                                .textInput {
                                    background-color: $alabaster;
                                    border-color: silver;
                                    border-radius: 5px;
                                    width: 200px;
                                }
                                
                                .profilePicture {
                                    background-image: url(../assets/images/Mohan-muruge.jpg);
                                    background-position: center;
                                    background-size: cover;
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-right: 16px;
                                }
                                
                                .newProfilePic {
                                    background-image: url(../assets/images/Mohan-muruge.jpg);
                                    background-position: center;
                                    background-size: cover;
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-right: 16px;
                                }
                                
                                .commentHeadPair {
                                    display: flex;
                                    align-content: center;
                                }
                                
                                #userInput {
                                    padding: 8px;
                                    width: 81.5%;
                                }
                                
                                #userForm {
                                    width: 100%;
                                    margin: 0;
                                }
                                
                                #commentInput {
                                    border-radius: 5px;
                                    width: 100%;
                                    height: 100px;
                                    margin-bottom: 16px;
                                    // margin-left: 32px;
                                }
                                
                                label {
                                    display: inline-block;
                                    padding-left: 16px;
                                    margin: 8px 0;
                                    color: $silver;
                                    font-size: 10px;
                                    width: 50%;
                                }
                                
                                #nameLabel {
                                    padding-left: 40px;
                                }
                                
                                #commentLabel {
                                    padding: 0;
                                }
                                
                                .inputComment {
                                    display: flex;
                                    flex-flow: column wrap;
                                }
                                
                                .commentBottomPair {
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 40px;
                                    margin-right: 0;
                                    width: 85%;
                                }
                                
                                textarea {
                                    font-family: Avenir Next;
                                }
                                
                                .button__container {
                                    display: flex;
                                    justify-content: center;
                                    margin-bottom: 16px;
                                }
                                
                                #submitButton {
                                    color: $white;
                                    background-color: $bandsite-black;
                                    border-radius: 5px;
                                    padding: 8px;
                                    width: 75%;
                                }
                                
                                //Posted Comments Section Styles
                                #postedComments {
                                    display: flex;
                                    flex-flow: column wrap;
                                    margin: 0;
                                    padding: 0;
                                    align-content: flex-start;
                                    text-align: justify;
                                    width: 100%;
                                }
                                
                                .nameAndPic {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 136px;
                                    margin: 8px 0;
                                    height: 100%
                                }
                                
                                .profileImg {
                                    height: 30px;
                                    width: 30px;
                                    background-color: silver;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin: 8px 8px 8px 0;
                                }
                                
                                .topContainer {
                                    width: 100%;
                                    display: flex;
                                    flex-flow: row wrap;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                                
                                .name {
                                    margin: 0;
                                    display: inline-block;
                                    width: 90px;
                                }
                                
                                .date {
                                    margin: 0;
                                }
                                
                                .commentBoxInfo {
                                    display: flex;
                                    flex-flow: row wrap;
                                    width: 100%;
                                    justify-content: space-between;
                                }
                                
                                .blankPic {
                                    background-color: $silver;
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 50%;
                                    margin-right: 16px;
                                    display: inline-block;
                                }
                                
                                .commentBox {
                                    display: flex;
                                    flex-flow: row wrap;
                                    font-size: 14px;
                                    font-weight: 400;
                                    width: 100%;
                                }
                                
                                .comment {
                                    width: 75%;
                                    margin-left: 48px;
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .header {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        flex-flow: row wrap;
                                        height: 75px;
                                    }
                                    .header__title__box {
                                        padding-left: 16px;
                                        margin-right: 20px;
                                    }
                                    .header__title {
                                        font-weight: 200;
                                        font-size: 24px;
                                        margin-left: 16px;
                                        padding: 16px 0;
                                    }
                                    .header__nav {
                                        width: 250px;
                                    }
                                    .header__nav__link {
                                        padding: 20px 16px 18px 20px;
                                        width: 60px;
                                    }
                                    .header__nav__txt {
                                        font-size: 14px;
                                        width: 120px;
                                        padding: 16px 0;
                                    }
                                }
                                
                                //Tablet Hero Styles
                                @media (min-width: $tablet-lower) {
                                    .hero {
                                        height: 500px;
                                        align-items: center;
                                        &__text {
                                            position: relative;
                                            padding: 200px 0 0 16px;
                                            margin-left: 16px;
                                            font-size: 60px;
                                            font-weight: 500;
                                            z-index: 1;
                                        }
                                        &__overlay {
                                            background-color: $bandsite-black;
                                            width: 100%;
                                            height: 100%;
                                            opacity: 50%;
                                            position: relative;
                                            bottom: 56.5%;
                                        }
                                    }
                                }
                                
                                //Tablet Body Styles
                                @media (min-width: $tablet-lower) {
                                    .text__sub {
                                        font-size: 36px;
                                        line-height: 44px;
                                        font-weight: 600;
                                        padding: 32px 0;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .main__text__sub {
                                        font-size: 24px;
                                        font-weight: 600;
                                        padding-left: 36px;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .body__section {
                                        padding: 24px;
                                        display: flex;
                                        flex-flow: row wrap;
                                        align-items: center;
                                        justify-content: center;
                                        &__img {
                                            height: 400px;
                                            width: 92%;
                                            // margin: 36px;
                                            padding: 36px 0;
                                        }
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .text__sub {
                                        font-size: 36px;
                                        font-weight: 600;
                                        padding: 0;
                                        width: 100%;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .quote {
                                        font-size: 24x;
                                        font-weight: 700;
                                        padding: 0 36px;
                                        margin-top: 0;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .quote--author {
                                        margin-top: 0;
                                        padding: 0 36px;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .main__text__container {
                                        display: flex;
                                        justify-content: space-evenly;
                                        height: 55%;
                                        padding: 0 36px;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .paragraph__container--top,
                                    .paragraph__container--bottom {
                                        font-size: 14px;
                                        line-height: 32px;
                                        font-weight: 400;
                                        padding-right: 16px;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .photo__gallery {
                                        padding: 36px;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .photo__gallery__picture__container {
                                        display: flex;
                                        flex-flow: row wrap;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 0;
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .photo__gallery__picture {
                                        height: 150px;
                                        width: 250px;
                                        margin: 16px;
                                    }
                                }
                                
                                //Tablet Comment Styles
                                @media (min-width:$tablet-lower) {
                                    .commentSection {
                                        display: flex;
                                        justify-content: center;
                                        flex-direction: column;
                                        align-content: center;
                                        .inputComment {
                                            width: 100%;
                                            display: flex;
                                            flex-flow: column wrap;
                                            align-content: center;
                                        }
                                        h2 {
                                            font-size: 36px;
                                            margin-left: 36px;
                                            font-weight: 600;
                                        }
                                    }
                                    .button__container {
                                        display: flex;
                                        justify-content: flex-end;
                                        width: 100%;
                                        margin: 0 auto;
                                        #submitButton {
                                            width: 25%;
                                        }
                                    }
                                    #userForm {
                                        width: 60%;
                                    }
                                    #userForm {
                                        width: 60%;
                                    }
                                    #userInput {
                                        width: 100%;
                                    }
                                    .commentBottomPair {
                                        width: 94%;
                                    }
                                    #postedComments {
                                        display: flex;
                                        flex-flow: column wrap;
                                        justify-content: center;
                                        align-content: center;
                                        font-size: 14px;
                                        .commentBox {
                                            width: 60%;
                                        }
                                        .nameAndPic {
                                            width: 136px;
                                        }
                                    }
                                }
                                
                                //Tablet Footer Styles
                                @media (min-width: $tablet-lower) {
                                    .footer__section {
                                        display: none;
                                    }
                                }
                                
                                //Initialize Alt Footer Styles
                                @media (min-width: $tablet-lower) {
                                    .alt__footer {
                                        display: flex;
                                        flex-flow: row wrap;
                                        background-color: $bandsite-black;
                                        color: $white;
                                        &__icon__container {
                                            width: 30%;
                                            display: inline-block;
                                            padding: 16px;
                                            margin: 0;
                                            .__icon {
                                                height: 30px;
                                                width: 30px;
                                                padding: 0 8px;
                                            }
                                        }
                                        &__title {
                                            width: 250px;
                                            display: inline;
                                            padding-left: 32px;
                                            font-weight: 600;
                                            font-size: 36px;
                                        }
                                        &__logo {
                                            display: inline;
                                            font-weight: 200;
                                            padding-left: 56px;
                                        }
                                        &__text__container {
                                            display: flex;
                                            flex-flow: row wrap;
                                            justify-content: space-between;
                                            width: 100%;
                                            padding-left: 32px;
                                            .divider {
                                                width: 33%;
                                            }
                                        }
                                        &__end__container {
                                            padding-left: 32px;
                                        }
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .alt__footer__top__container {
                                        display: flex;
                                        justify-content: space-between;
                                        width: 100%;
                                        .top__divider {
                                            width: 75%;
                                        }
                                    }
                                }
                                
                                @media (min-width: $tablet-lower) {
                                    .alt__logo__container {
                                        width: 25%;
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                }
                                
                                //Desktop Styles
                                //Desktop Navbar/Header
                                @media (min-width: $desktop-lower) {
                                    // @mixin bigScreenStyles () {
                                    .header {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        flex-flow: row wrap;
                                        height: 95px;
                                    }
                                    .header__title__box {
                                        padding-left: 72px;
                                        margin-right: 20px;
                                    }
                                    .header__title {
                                        font-weight: 200;
                                        font-size: 24px;
                                        margin-left: 16px;
                                        padding: 24px 0;
                                    }
                                    .header__nav {
                                        width: 250px;
                                    }
                                    .header__nav__link {
                                        padding: 20px 16px 18px 20px;
                                        width: 60px;
                                    }
                                    .header__nav__txt {
                                        font-size: 14px;
                                        width: 120px;
                                        padding: 24px 0;
                                    }
                                }
                                
                                // }
                                //Desktop Hero
                                @media (min-width: $desktop-lower) {
                                    .hero {
                                        height: 700px;
                                        align-items: center;
                                        &__text {
                                            position: relative;
                                            padding: 300px 0 0 0;
                                            margin-left: 80px;
                                            font-size: 60px;
                                            font-weight: 500;
                                            z-index: 1;
                                        }
                                        &__overlay {
                                            background-color: $bandsite-black;
                                            width: 100%;
                                            height: 100%;
                                            opacity: 50%;
                                            position: relative;
                                            bottom: 54.7%;
                                        }
                                    }
                                    .text__sub {
                                        font-size: 36px;
                                        margin-left: 64px;
                                    }
                                    .quote {
                                        font-size: 24px;
                                        font-weight: 600;
                                        padding: 0 36px;
                                        margin-top: 0;
                                        &--author {
                                            margin-top: 0;
                                        }
                                    }
                                }
                                
                                @media (min-width: $desktop-lower) {
                                    .photo__gallery {
                                        padding: 36px 80px;
                                        &__picture__container {
                                            display: flex;
                                            flex-flow: row wrap;
                                            justify-content: center;
                                            align-items: center;
                                            // margin: 16px;
                                        }
                                        &__picture {
                                            height: 55%;
                                            width: 30%;
                                            margin: 16px;
                                        }
                                    }
                                }
                                
                                @media (min-width: $desktop-lower) {
                                    .text__sub {
                                        font-size: 36px;
                                        line-height: 44px;
                                        font-weight: 600;
                                        padding: 0;
                                    }
                                    @media (min-width: $desktop-lower) {
                                        .main__text__sub {
                                            font-size: 24px;
                                            font-weight: 600;
                                            margin-left: 72px;
                                            padding-top: 32px;
                                        }
                                    }
                                    @media (min-width: $desktop-lower) {
                                        .body__section {
                                            padding: 36px 80px;
                                            display: flex;
                                            flex-flow: row wrap;
                                            align-items: center;
                                            &__img {
                                                height: 450px;
                                                width: 100%;
                                                padding: 36px 72px;
                                                margin: 0 auto;
                                            }
                                        }
                                        @media (min-width: $desktop-lower) {
                                            .text__sub {
                                                font-size: 36px;
                                                font-weight: 600;
                                                margin-left: 44px;
                                            }
                                            .quote {
                                                font-size: 24px;
                                                font-weight: 600;
                                                padding: 0 72px;
                                                margin: 0;
                                                width: 62%;
                                                line-height: 22px;
                                                &--author {
                                                    margin: 0 72px;
                                                    padding: 16px 0;
                                                }
                                            }
                                        }
                                    }
                                }
                                
                                @media (min-width: $desktop-lower) {
                                    .main__text__container {
                                        display: flex;
                                        justify-content: space-evenly;
                                        height: 55%;
                                        padding: 0 72px;
                                    }
                                }
                                
                                @media (min-width: $desktop-lower) {
                                    .paragraph__container--top,
                                    .paragraph__container--bottom {
                                        font-size: 14px;
                                        line-height: 32px;
                                        font-weight: 400;
                                        padding-right: 16px;
                                    }
                                }
                                
                                //Desktop Lower Comment Styles 
                                @media (min-width: $desktop-lower) {
                                    .commentSection {
                                        display: flex;
                                        justify-content: center;
                                        flex-direction: column;
                                        align-content: center;
                                        .inputComment {
                                            width: 100%;
                                            display: flex;
                                            flex-flow: column wrap;
                                            align-content: center;
                                        }
                                        h2 {
                                            font-size: 36px;
                                            margin-left: 80px;
                                            font-weight: 600;
                                        }
                                    }
                                    .button__container {
                                        display: flex;
                                        justify-content: flex-end;
                                        width: 100%;
                                        margin: 0 auto;
                                        #submitButton {
                                            width: 25%;
                                        }
                                    }
                                    #userForm {
                                        width: 60%;
                                    }
                                    #userInput {
                                        width: 100%;
                                    }
                                    .commentBottomPair {
                                        width: 94%;
                                    }
                                    #postedComments {
                                        display: flex;
                                        flex-flow: column wrap;
                                        justify-content: center;
                                        align-content: center;
                                        font-size: 14px;
                                        .commentBox {
                                            width: 60%;
                                        }
                                        .nameAndPic {
                                            width: 136px;
                                        }
                                    }
                                }
                                
                                //Desktop Footer Styles
                                @media (min-width: $desktop-lower) {
                                    .footer__section {
                                        display: none;
                                    }
                                }
                                
                                @media (min-width: $desktop-lower) {
                                    .alt__footer {
                                        display: flex;
                                        flex-flow: row wrap;
                                        background-color: $bandsite-black;
                                        color: $white;
                                        &__icon__container {
                                            width: 45%;
                                            display: inline-block;
                                            padding: 16px;
                                            margin: 0;
                                            .__icon {
                                                height: 30px;
                                                width: 30px;
                                                padding: 0 8px;
                                            }
                                        }
                                        &__title {
                                            width: 250px;
                                            display: inline;
                                            padding-left: 100px;
                                            font-weight: 600;
                                            font-size: 36px;
                                        }
                                        &__logo {
                                            display: inline;
                                            font-weight: 200;
                                            width: 25%;
                                        }
                                        &__text__container {
                                            display: flex;
                                            flex-flow: row wrap;
                                            justify-content: space-evenly;
                                            width: 100%;
                                            padding-left: 24px;
                                            .divider {
                                                width: 25%;
                                            }
                                        }
                                        &__end__container {
                                            padding-left: 96px;
                                        }
                                    }
                                }
                                
                                @media (min-width: $desktop-lower) {
                                    .alt__footer__top__container {
                                        display: flex;
                                        justify-content: space-between;
                                        width: 100%;
                                        .top__divider {
                                            width: 50%;
                                        }
                                    }
                                    .alt__footer__end__container {
                                        padding-left: 104px;
                                    }
                                }
                                
                                @media (min-width: $desktop-lower) {
                                    .alt__logo__container {
                                        padding-left: 80px;
                                        width: 18.5%;
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                }