#commentInput {
  resize: none;
  height: 100px;
  width: 250px;
}

@font-face {
  font-family: Avenir Next;
  src: url(../../../Documents/avenir-next.zip);
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
  color: #323232;
}

.shows p,
.shows h2 {
  font-family: Avenir Next;
  color: #323232;
}

h1,
h2,
h3 {
  padding: 16px 0;
  margin: 0;
}

p {
  font-size: 13px;
  line-height: 18px;
}

.alt__footer {
  display: none;
}

.alt__shows {
  display: none;
}

.shows .date,
.shows .venue,
.shows .location {
  color: #afafaf;
  font-size: 10px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #afafaf;
  height: 1px;
}

.alt__show__container:hover {
  background-color: #fafafa;
}

.alt__show__container:active {
  background-color: #e1e1e1;
}

.header {
  background-color: #323232;
  color: #ffffff;
  margin: 0;
  height: 70px;
}
.header a {
  color: #ffffff;
  text-decoration: none;
}

.header__title__box {
  margin: 0;
  text-align: center;
  padding: 0;
}

.header__title {
  font-weight: 200;
  font-size: 24px;
  margin: 0;
  padding-bottom: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}
.header__nav__txt {
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
  width: 50vw;
}

#active {
  border-style: solid;
  border-color: #ffffff;
  border-top: 2px;
  border-right: 0;
  border-left: 0;
}

#active:hover {
  color: #fafafa;
}

#inactive {
  color: #afafaf;
}

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  -webkit-filter: #323232;
          filter: #323232;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 400px;
}
.hero__text {
  position: relative;
  padding: 32px 0 0 16px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  z-index: 1;
}
.hero__presentation {
  position: relative;
  font-size: 24px;
  padding-left: 16px;
  z-index: 1;
  font-weight: 600;
}
.hero__song__container {
  width: 75%;
  padding-left: 16px;
}
.hero__song__container iframe {
  width: 100%;
  height: 75%;
  position: relative;
  z-index: 1;
}
.hero__overlay {
  background-color: #323232;
  width: 100%;
  height: 100%;
  opacity: 50%;
  position: relative;
  bottom: 71.7%;
}

.shows {
  padding-left: 16px;
  padding-right: 16px;
}
.shows__heading {
  font-weight: 600;
  padding-top: 16px;
}

.tickets__button {
  color: #ffffff;
  background-color: #323232;
  width: 70%;
  border: solid;
  border-color: #323232;
  border-radius: 5px;
  position: relative;
  left: 15%;
}

.tickets__button:hover {
  background-color: #000000;
  border-color: #000000;
}

.footer__section {
  background-color: #323232;
  color: #ffffff;
  margin-top: 8px;
}
.footer__section__title {
  font-size: 24px;
  font-weight: 300;
  padding: 16px;
}
.footer__section__icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 120px;
  padding: 16px;
}
.footer__section__text__container {
  padding: 0 16px;
}
.footer__section__text__container p {
  margin: 0;
  padding: 16px 0;
  font-size: 13px;
}
.footer__section__icon__container {
  padding: 0 16px;
}
.footer__section__icon {
  height: 25px;
  width: 25px;
}
.footer__section__logo {
  font-weight: 200;
  font-size: 24px;
  padding: 64px 0 0 0;
}

.footer__section__end__container {
  padding-left: 16px;
}
.footer__section__end__container p {
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 15%;
  }

  .header__title__box {
    padding-left: 16px;
    margin-right: 20px;
  }

  .header__title {
    font-weight: 200;
    font-size: 24px;
    margin-left: 16px;
    padding: 16px 0;
  }

  .header__nav {
    width: 250px;
  }

  .header__nav__link {
    padding: 20px 16px 18px 20px;
    width: 60px;
  }

  .header__nav__txt {
    font-size: 14px;
    width: 120px;
    padding: 16px 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 50vh;
  }

  .hero__presentation {
    padding-left: 32px;
    font-size: 60px;
    width: 75%;
  }

  .hero__text {
    padding-left: 32px;
    font-size: 24px;
  }

  iframe {
    padding-left: 16px;
  }

  .hero__overlay {
    position: relative;
    bottom: 88.5%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__section {
    display: none;
  }

  .shows {
    display: none;
  }

  .alt__shows {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .tickets__button {
    width: 15%;
    height: 48px;
    font-size: 14x;
  }
}
.alt__shows__head {
  padding-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 69%;
  color: #afafaf;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alt__shows__title {
  padding-left: 32px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .alt__show__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 32px;
    width: 92%;
    height: 64px;
    font-size: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  p {
    font-size: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.alt__date,
.alt__venue,
.alt__location {
  width: 25%;
}

.date__box,
.venue__box,
.location__box {
  width: 18%;
}

.date__box {
  margin-right: 75px;
}

.venue__box {
  margin-right: 60px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .alt__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    background-color: #323232;
    color: #ffffff;
  }
  .alt__footer__icon__container {
    width: 30%;
    display: inline-block;
    padding: 16px;
    margin: 0;
  }
  .alt__footer__icon__container .__icon {
    height: 30px;
    width: 30px;
    padding: 0 8px;
  }
  .alt__footer__title {
    width: 250px;
    display: inline;
    padding-left: 32px;
    font-weight: 600;
    font-size: 36px;
  }
  .alt__footer__logo {
    display: inline;
    font-weight: 200;
    padding-left: 32px;
  }
  .alt__footer__text__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 32px;
  }
  .alt__footer__text__container .divider {
    width: 25%;
  }
  .alt__footer__end__container {
    padding-left: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .alt__footer__top__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .alt__footer__top__container .top__divider {
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .alt__logo__container {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__section {
    display: none;
  }

  .shows {
    display: none;
  }

  .alt__shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 15%;
  }

  .header__title__box {
    padding-left: 72px;
    margin-right: 20px;
  }

  .header__title {
    font-weight: 200;
    font-size: 24px;
    margin-left: 16px;
    padding: 24px 0;
  }

  .header__nav {
    width: 250px;
  }

  .header__nav__link {
    padding: 20px 16px 18px 20px;
    width: 60px;
  }

  .header__nav__txt {
    font-size: 14px;
    width: 120px;
    padding: 24px 0;
  }
}
@media (min-width: 1280px) {
  .alt__show__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75%;
    margin-left: 24px;
  }

  .alt__shows__head {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 12px;
    -webkit-box-pack: space-betweem;
        -ms-flex-pack: space-betweem;
            justify-content: space-betweem;
    margin-left: 24px;
  }

  .tickets__button {
    width: 15%;
  }

  .alt__shows__title {
    width: 25%;
    display: inline-block;
    padding-left: 98px;
  }

  .date__box,
.venue__box,
.location__box {
    width: 112px;
  }
}
@media (min-width: 1280px) {
  .alt__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    background-color: #323232;
    color: #ffffff;
  }
  .alt__footer__icon__container {
    width: 45%;
    display: inline-block;
    padding: 16px;
    margin: 0;
  }
  .alt__footer__icon__container .__icon {
    height: 30px;
    width: 30px;
    padding: 0 8px;
  }
  .alt__footer__title {
    width: 250px;
    display: inline;
    padding-left: 100px;
    font-weight: 600;
    font-size: 36px;
  }
  .alt__footer__logo {
    display: inline;
    font-weight: 200;
    width: 25%;
  }
  .alt__footer__text__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    padding-left: 24px;
  }
  .alt__footer__text__container .divider {
    width: 25%;
  }
  .alt__footer__end__container {
    padding-left: 96px;
  }
}
@media (min-width: 1280px) {
  .alt__footer__top__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .alt__footer__top__container .top__divider {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .alt__logo__container {
    padding-left: 80px;
    width: 18.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}/*# sourceMappingURL=shows.css.map */